name: Build Test Deploy master

on:
  push:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 8, 11, 17, 21 ]

    steps:
    - uses: actions/checkout@v4
    - name: Make mvnw executable
      run: chmod +x mvnw
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: temurin
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - name: Cache local Maven repository
      uses: actions/cache@v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: Run tests
      run: |
        ./mvnw --no-transfer-progress -B verify
    - name: Deploy snapshot to Maven Central
      if: matrix.java == 8 && github.repository == 'swagger-api/swagger-inflector'
      run: |
        export MY_POM_VERSION=`./mvnw -q -Dexec.executable="echo" -Dexec.args='${project.version}' --non-recursive org.codehaus.mojo:exec-maven-plugin:1.3.1:exec`
        echo "POM VERSION: ${MY_POM_VERSION}"
        if [[ $MY_POM_VERSION =~ ^.*SNAPSHOT$ ]]; then
          ./mvnw --no-transfer-progress -B deploy -DskipTests
        else
          echo "Not deploying - not a SNAPSHOT version"
        fi
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
